<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

<head>
    <title>Course List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
	<h1>Courses</h1>
	<h4 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h4>
	<div class="col-md-" style="padding:20px 0">	
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger"/>
		</form>
	</div>
    <table class="table table-striped">
		<tr>
		    <th>Name</th>
		    <th>Source</th>
		    <th>Year</th>
		    <th>Category</th>
		    <th>Grades</th>	
		    <th sec:authorize="hasRole('ADMIN')"></th>
		</tr>  
    	<tr th:each = "course : ${courses}">
    		<td th:text="${course.name}"></td>
    		<td th:text="${course.source}"></td>
    		<td th:text="${course.year}"></td>
    		<td th:text="${course.category.name}"></td>
    		<td th:text="${course.grades}"></td>
    		
    		
    		<td>
  			 <form>
  			<button th:formaction="@{/view/{id}(id=${course.id})}" class="btn btn-info">View</button>
  			</form>
  			</td> 
  			

  			
    		
    		<td sec:authorize="hasAuthority('ADMIN')">
  			 <form>
  			<button th:formaction="@{/delete/{id}(id=${course.id})}" class="btn btn-danger">Delete</button>
			</form>
  			</td>
  				
    	</tr>
     </table>
     
	 <form sec:authorize="hasAuthority('ADMIN')">
  	<button th:formaction="@{add}" class="btn btn-success">Add</button>
	</form>
	 </div>	
</body>
</html>